#title {
  background: linear-gradient(rgb(37, 15, 159), rgb(109, 2, 159));
  color: white;
}

#second-section {
  background-color: rgb(218, 216, 216);
  color: rgb(109, 2, 159);
}

#third-section {
  background-color: rgb(218, 216, 216);
  color: rgb(109, 2, 159);
}

#service-title-text {
  text-align: center;
  margin-top: 3%;
}

#fourth-section {
  background-color: rgb(75, 75, 75);
}

body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: lighter;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  margin-left: 26%;
}

h2 {
  margin-top: 30px;
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
}

.Project_technoloy_sub_title {
  margin-top: 0px;
  font-size: 0.8rem;
}

.first-skill {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.skills-list-text {
  margin-top: 5%;
  text-align: left;
  padding: 0 17%;
  color: black;
}
hr {
  border-style: none;
  width: 3%;
  border-color: rgb(0, 0, 0);
  border-top-style: dotted;
  border-width: 7px;
  margin: 0 auto 0 auto;
}

.second-skill {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  transition: 0.6s;
}

.second-skill:hover {
  opacity: 0.7;
}

.belowBrand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.social-media-icon {
  margin: 10px 11px;
}

.belowinfo {
  color: red;
}

.left-most-img {
  margin-left: 0 ;
}

.quote-final{
  color: white;
  margin-top: 16px;
}
