body {
    font-family:"Ubuntu";
    background-color: rgb(169, 169, 169);
}

.titulo-1{
    padding: 30px;
    display: inline-block;
    margin-top: 5%;
}

.jumbotron{
    text-align: center;
}

.page1{
    text-align: center;
    margin-top: 10%;
}

.issImage{
    margin-top: 5%;
}

.foot-Note{
    margin-left: 20px;
    width: 20%;
}

