body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #ffdd83;
}

.first-cat {
  background-color: #e21818;
  width: 15%;
  display: inline;
  padding: 2px;
  font-size: 1.5rem;
}

.btn {
  width: 3%;
  display: inline;
  background-color: #00235b;
  color: white;
  height: 2%;
  border-radius: 10%;
  font-size: 1.5rem;
}

.first-button {
  margin-top: 15px;
}
