/* Inicio de website style
*/

body {
  margin: 0;
  height: 1920px;
}

.background {
  position: relative;
  background-image: linear-gradient(to right, rgb(86, 8, 131), rgb(61, 0, 73));
  height: 100%;
}

.banner {
  position: relative;
  height: 3%;
}

.footnote {
  top: 0%;
  margin: 0px;
  position: relative;
  background-color: #474747;
  height: 260px;
}

.instagram{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
position: absolute;
  left: 93.8%;
  top: 15%;
  border: 0px;
  font-size: 18px;
  height: 36px;
  width: 84px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 17px #0c0c0c;
  }

.Tweet {
  position: absolute;
  left: 94.1%;
  top: 45%;
  background-color: rgb(2,158,255);
  color: white;
  border: 0px;
  font-size: 18px;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 17px #0c0c0c;

}

.linkedIn {
  position: absolute;
  left: 94.2%;
  top: 75%;
  background-color: rgb(3, 90, 172);
  color: white;
  border: 0px;
  font-size: 18px;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 17px #0c0c0c;
}

.btnLayout {
  position: absolute;
  margin: auto;
  width: 50%;
  text-align: center;
  left: 27%;
}

.topBtn {
  position: relative;
  margin-top: 1.2%;
  margin-right: 6%;
  border: 0px solid black;
  font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.topBtn:hover {
  opacity: 0.5;
}


.text1 {
  position: absolute;
  font-family: "Courier", monospace;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  top: 15%;
  left: 38%;
  margin: 0;
  text-align: center;
  transition: 1s;
  cursor: pointer;
  
}

.text1Profile {
  position: absolute;
  font-family: "Courier", monospace;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  top: 10%;
  left: 46%;
  margin: 0;
  text-align: center;
  transition: 1s;
  cursor: pointer;
  
}

.text1:hover {
  opacity: 0.5;
}

.text1:active {
  opacity: 0.9;
}

.firstSection {
  height: 30%;
  background-color: transparent;
}

.secondSection {
  top: 70%;
  height: 36%;
  background-color: #dcdedf;
}
.thirdSection {
  top: 90%;
  height: 36%;
  background-color: #e6e8eb;
}

.fourSection {
  top: 90%;
  height: 36%;
  background-color: #b1b8bc;
}

.text2 {
  position: relative;
  margin: auto;
  width: 361px;
  text-align: center;
  top: 40%;
  font-family: "Courier", monospace;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 1s;
}

h1 {
  position: relative;
  padding-left: 50px;
  top: 10%;
  font-family: "Verdana Pro Black", monospace;
  margin: auto;
}

h2 {
  position: relative;
  top: 10%;
  font-family: "Fairfax SM", monospace;
  margin: auto;
  padding: 50px;
  font-size: 20px;
  font-weight: lighter;
}

.textContainerPost_D {
  position: relative;
  height: 550px;
  width: 550px;
  background-color: #dcdedf;
  top: 10%;
  left: 10%;
}

.textContainerPost_L {
  position: relative;
  height: 550px;
  width: 550px;
  background-color: #e6e8eb;
  top: 10%;
  left: 10%;
}

.img1_1 {
  position: absolute;
  left: 25%;
  top: 8%;
}

.img1_2{
  position: relative;
  left: 50%;
  bottom: 65%;
  box-shadow: 10px 10px 9px #868686;
}

.img2_1 {
  position: absolute;
  left: 25%;
  top: 8%;
}

.img2_2{
  position: relative;
  left: 50%;
  bottom: 50%;
  box-shadow: 10px 10px 9px #868686;
}
.footnoteQuote {
  position: relative;
  color: white;
  top: 70%;
  margin-left: 1.5%;
  width: 50%;
  font-family: "Calibri", monospace;
  font-style: italic;
}

.footnoteLogo {
  position: relative;
  
}
